body{
  background-color: black;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}
header img{
  height: 50px;
  padding-left: 10px;
  padding-bottom: 69px;

}
.flex-container{
  margin: auto;
}
header.flex-container{
  display: flex;
  height: 69px;

  margin: auto;
}

nav{
  text-align: center;
  flex-grow: 1;
  width: 700px;
  text-decoration: underline;
  }

nav span{
  display: inline-block;
  padding: 30px 20px;
}
.teacontents{
  display: block;
  margin: 5px;
  padding: 10px;
}
#mission.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

#mission{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  height: 800px;
  width: 1200px;
}
.contents{
  width: 100%;
  margin: auto;
  text-align: center;
  align-items:center;
  font-weight: bold;
  background-color: black;
}
#image-container{
width: 1000px;
height: 700px;
margin: auto;
padding-bottom: 70px;

}
.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.stock img{
  display: block;
  height: 200px;

  margin: 10px;
}
.stock span{
  display: block;
  padding: 5px;
  text-align: center;
}
.teacontents{
  display: block;
  font-size: 1.5em;

}
#loc-container{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  height: 500px;
  margin: 170px;
  width: 1100px;
  margin: auto;
  padding-top: 40px;
}
.location{
  opacity: 1.0;
  width: 300px;
  height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.flex-locations{
  display: flex;
  justify-content: space-around;

}
#contact{
  display: block;
  height: 200px;
  text-align: center;
  padding-top: 150px;
}
.copyright{
  display: block;
  text-align: left;
}
